### assingnment

In [ ]:
#q1
days=int(input('Enter no of days'))
year=days // 365
week=days // 7
print('year:>week:>days',year, week ,days)

In [ ]:
#Q2
salary=int(input('Enter the salary'))
if salary<=10000:
    hra=0.20*salary
    da=0.80*salary
    og=hra+da+salary

elif salary<=20000:
    hra=0.30*salary
    da=0.90*salary
    og=hra+da+salary

else:
    hra=0.35*salary
    da=0.95*salary
    og=hra+da+salary

print(og)

In [ ]:
#Q4
for i in range(1 ,6):
    print('\t')
    for j in range(i):
        print(i,end=' ')

In [ ]:
#Q3
units=float(input('Enter num of units'))
if units <= 50:
        bill = units * 0.50

elif units<=150:
        bill = (50 * 0.50) + ((units - 50) * 0.75)

elif units<=250:
        bill = (50 * 0.50) + (100 * 0.75) + ((units - 150) * 1.25)

else:
        bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + ((units - 250) * 1.50)

surcharge=bill*0.17
total_bill=bill+surcharge
print(total_bill)

In [ ]:
#Q10 silver gold
metals=['silver','gold']
new=metals
new.append('platinum')
new.append('bronze')
new.append('iron')
print(new)

In [ ]:
#Q9
x=[12,45,78,63,90,5]
c=sorted(x)
print('second largest',c[-2])

In [ ]:
# Create the dictionary
elements = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

# 1. Access the data at key ‘k’
print("Data at key 'k':", elements['k'])

# 2. Add a new value ‘z’: ‘zebra’
elements['z'] = 'zebra'

# 3. Replace the contents of ‘d’ as ‘dog’
elements['d'] = 'dog'

# 4. Print all the values from this dictionary
print("All values in the dictionary:")
for value in elements.values():
    print(value)

# 5. Find the length of this dictionary
print("Length of the dictionary:", len(elements))

In [1]:
def product_of_digits(n):
    product = 1
    while n > 0:
        digit = n % 10
        product *= digit
        n //= 10
    return product
n = int(input("Enter a number: "))
result = product_of_digits(n)
print("The product of the digits is:", result)

Enter a number:  123

The product of the digits is: 6

In [3]:

float_tuple = (23.5, 12.3, 45.6, 9.8, 67.2)


sorted_tuple = sorted(float_tuple)
print("Sorted tuple:", sorted_tuple)


is_fifty_present = 50 in float_tuple
print("Is 50 present in the tuple?", is_fifty_present)


float_set = set(float_tuple)
print("Tuple converted to set:", float_set)

Sorted tuple: [9.8, 12.3, 23.5, 45.6, 67.2]
Is 50 present in the tuple? False
Tuple converted to set: {67.2, 9.8, 12.3, 45.6, 23.5}

In [5]:
# Create the initial list
x = [45, 67, 12, 'Hello', 23.45, 'World']

# 1. Extract only string values from this list
strings = [item for item in x if isinstance(item, str)]
print("String values:", strings)

# 2. Create a new list with strings in upper case
upper_strings = [item.upper() for item in strings]
print("Strings in upper case:", upper_strings)

# 3. Find the addition of integer values
int_sum = sum(item for item in x if isinstance(item, int))
print("Sum of integer values:", int_sum)

# 4. Check that the value 56 is present in it or not
is_56_present = 56 in x
print("Is 56 present in the list?", is_56_present)

# 5. Print the list in reverse order
reversed_list = x[::-1]
print("List in reverse order:", reversed_list)

# 6. Delete the string ‘Hello’ from it
if 'Hello' in x:
    x.remove('Hello')
print("List after deleting 'Hello':", x)

# 7. Insert a new value of 36 at 5th position in list
x.insert(4, 36)
print("List after inserting 36 at 5th position:", x)

# 8. Count total number of elements in list now
list_length = len(x)
print("Total number of elements in the list now:", list_length)

# 9. Extract the values from 2nd index to 5th index
sublist = x[2:6]
print("Values from 2nd to 5th index:", sublist)

# 10. Append [34, ‘Pune’] to this list
x.extend([34, 'Pune'])
print("List after appending [34, 'Pune']:", x)

# 11. Delete the last element from list
x.pop()
print("List after deleting the last element:", x)

String values: ['Hello', 'World']
Strings in upper case: ['HELLO', 'WORLD']
Sum of integer values: 124
Is 56 present in the list? False
List in reverse order: ['World', 23.45, 'Hello', 12, 67, 45]
List after deleting 'Hello': [45, 67, 12, 23.45, 'World']
List after inserting 36 at 5th position: [45, 67, 12, 23.45, 36, 'World']
Total number of elements in the list now: 6
Values from 2nd to 5th index: [12, 23.45, 36, 'World']
List after appending [34, 'Pune']: [45, 67, 12, 23.45, 36, 'World', 34, 'Pune']
List after deleting the last element: [45, 67, 12, 23.45, 36, 'World', 34]